body {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: verdana, sans-serif;
}

#page {
  background: #FFF;
  margin: 1em;
  font-size: 1.2em;
  color: #444;
}

h1, h2, h3, h4, h5 {
  margin: 20px 0;
  padding: 0;
}

h1 {
  color: #B41F49;
  font-family: 'Autour One';
}

h2, h3, h4, h5 {
  font-family: 'Karla', sans-serif;
  color: #000;
}

#header {
  padding: 0.25em;
  margin: 1em;
  font-size: 1.5em;
}

#header h1 {
  margin: 0;
}

h2#word {
  font-size: 6em;
  text-align: center;
}

ul#prohibited_words {
  list-style: none;
  padding: 0;
  margin: 1em auto;
}

ul#prohibited_words li {
  text-align: center;
  font-size: 2.5em;
  margin: 1em;
}
