body, html {
  margin: 0;
  padding: 0;
}

body {
  background: #EEE;
  font-family: verdana, sans-serif;
}

#header {
  background: #10707A;
  color: #FFF;
  text-align: center;
  padding: 3em 0;
}

h1 {
  text-align: left;
  width: 800px;
  margin: 0 auto;
  font-family: Raleway;
  font-weight: lighter;
  font-size: 2.5em;
}

#page {
}

.section {
  background: #FFF;
  border-radius: 0.5em;
  -mox-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

h2, h3, h4, h4 {
  margin: 0;
}

.button-wrapper {
  margin: 1em 0;
}

a.classic-btn, .approve-btn, .reject-btn {
  border-radius: 0.5em;
  -mox-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1.1em;
  text-decoration: none;
  font-family: Raleway;
  background: #FFF;
}

.approve-btn, .reject-btn {
  display: inline-block;
}

a.classic-btn:hover, .approve-btn:hover, .reject-btn:hover {
  color: #FFF;
  border-color: #FFF;
  cursor: pointer;
}

a.classic-btn {
  color: #10707A;
  border: 1px #10707A solid;
}

a.classic-btn:hover {
  background: #10707A;
}

.approve-btn {
  color: #459116;
  border: 1px #459116 solid;
}

.approve-btn:hover {
  background: #459116;
}

.reject-btn {
  color: #911616;
  border: 1px #911616 solid;
}

.reject-btn:hover {
  background: #911616;
}

#quick-actions {
  margin: 2em 0;
}

.clear {
  clear: both;
}

#content {
  font-family: "Open Sans", sans-serif;
  width: 800px;
  margin: 2em auto 0 auto;
}

#inner-content {
  padding: 0 1em;
}

#navigation {
  background: #FFF;
  border-radius: 0.25em;
  -mox-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
}

#navigation ul {
  margin: 0;
  padding: 1em;
  list-style: none;
  width: 800px;
  margin: 0 auto;
}

#navigation ul li {
  display: inline-block;
  margin: 0 1em;
}

#navigation a {
  color: #333;
  font-weight: 500;
  font-family: "Open Sans";
  font-size: 0.9em;
  text-decoration: none;
}

#navigation a:hover {
  color: #038F9E;
}

#verifier h2 {
  display: inline-block;
  font-size: 1.8em;
}

#verifier .source {
  color: #888;
  font-size: 0.7em;
  margin-left: 4em;
  display: inline-block;
}

#verifier ul.prohibited-words {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

#verifier ul.prohibited-words li {
  font-size: 1.1em;
  margin: 0.25em 0;
  display: block;
  color: #333;
}

#verifier #word-to-verify {
  float: left;
  width: 200px;
}

#verifier .controls {
  padding-top: 3em;
  margin-left: 250px;
}

#verifier .reject-prohibited-word {
  color: #888;
  font-size: 0.9em;
  margin-right: 0.25em;
  cursor: pointer;
}

#verifier .reject-prohibited-word:hover {
  color: #911616;
}
